In [1]:
# S3 prefix
s3_bucket = 'recruit-restaurant-visitor-forecasting-on-sagemaker'
prefix = 'xgboost-example'

import sagemaker
from sagemaker import get_execution_role

sagemaker_session = sagemaker.Session()

# Get a SageMaker-compatible role used by this Notebook Instance.
role = get_execution_role()

In [2]:
WORK_DIRECTORY = 'input'

train_input = sagemaker_session.upload_data(
    path='{}'.format(WORK_DIRECTORY), 
    bucket=s3_bucket,
    key_prefix='{}/{}'.format(prefix, 'train'))

In [3]:
import pandas as pd

air_visit = pd.read_csv('input_small/air_visit_data.csv')
air_visit.index = pd.to_datetime(air_visit['visit_date'])
air_visit = air_visit.groupby('air_store_id').apply(lambda g: g['visitors'].resample('1d').sum()).reset_index()
air_visit['visit_date'] = air_visit['visit_date'].dt.strftime('%Y-%m-%d')
air_visit['was_nil'] = air_visit['visitors'].isnull()
air_visit['visitors'].fillna(0, inplace=True)

air_visit.head()

           air_store_id  visit_date  visitors  was_nil
0  air_25e9888d30b386df  2016-01-05        12    False
1  air_25e9888d30b386df  2016-01-06        28    False
2  air_25e9888d30b386df  2016-01-07         6    False
3  air_25e9888d30b386df  2016-01-08         8    False
4  air_25e9888d30b386df  2016-01-09        13    False

In [4]:
date_info = pd.read_csv('input/date_info.csv')
date_info.rename(columns={'holiday_flg': 'is_holiday', 'calendar_date': 'visit_date'}, inplace=True)
date_info['prev_day_is_holiday'] = date_info['is_holiday'].shift().fillna(0)
date_info['next_day_is_holiday'] = date_info['is_holiday'].shift(-1).fillna(0)

date_info.head()

,visit_date,day_of_week,is_holiday,prev_day_is_holiday,next_day_is_holiday
0,2016-01-01,Friday,1,0.0,1.0
1,2016-01-02,Saturday,1,1.0,1.0
2,2016-01-03,Sunday,1,1.0,0.0
3,2016-01-04,Monday,0,1.0,0.0
4,2016-01-05,Tuesday,0,0.0,0.0

In [5]:
air_store_info = pd.read_csv('input/rrv-weather-data/air_store_info_with_nearest_active_station.csv')

air_store_info.head()

,air_store_id,air_genre_name,air_area_name,latitude,longitude,latitude_str,longitude_str,station_id,station_latitude,station_longitude,station_vincenty,station_great_circle
0,air_0f0cdeee6c9bf3d7,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,"""34.6951242""","""135.1978525""",hyogo__kobe-kana__koube,34.696667,135.211667,1.277232,1.274882
1,air_7cc17a324ae5c7dc,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,"""34.6951242""","""135.1978525""",hyogo__kobe-kana__koube,34.696667,135.211667,1.277232,1.274882
2,air_fee8dcf4d619598e,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,"""34.6951242""","""135.1978525""",hyogo__kobe-kana__koube,34.696667,135.211667,1.277232,1.274882
3,air_a17f0778617c76e2,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,"""34.6951242""","""135.1978525""",hyogo__kobe-kana__koube,34.696667,135.211667,1.277232,1.274882
4,air_83db5aff8f50478e,Italian/French,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,"""35.6580681""","""139.7515992""",tokyo__tokyo-kana__tonokyo,35.691667,139.750000,3.730672,3.739835

In [6]:
import numpy as np

submission = pd.read_csv('input/sample_submission.csv')
submission['air_store_id'] = submission['id'].str.slice(0, 20)
submission['visit_date'] = submission['id'].str.slice(21)
submission['is_test'] = True
submission['visitors'] = np.nan
submission['test_number'] = range(len(submission))

submission.head()

,id,visitors,air_store_id,visit_date,is_test,test_number
0,air_00a91d42b08b08d9_2017-04-23,NaN,air_00a91d42b08b08d9,2017-04-23,True,0
1,air_00a91d42b08b08d9_2017-04-24,NaN,air_00a91d42b08b08d9,2017-04-24,True,1
2,air_00a91d42b08b08d9_2017-04-25,NaN,air_00a91d42b08b08d9,2017-04-25,True,2
3,air_00a91d42b08b08d9_2017-04-26,NaN,air_00a91d42b08b08d9,2017-04-26,True,3
4,air_00a91d42b08b08d9_2017-04-27,NaN,air_00a91d42b08b08d9,2017-04-27,True,4

In [7]:
data = pd.concat((air_visit, submission.drop('id', axis='columns')))
data['is_test'].fillna(False, inplace=True)
data = pd.merge(left=data, right=date_info, on='visit_date', how='left', sort=True)
data = pd.merge(left=data, right=air_store_info, on='air_store_id', how='left', sort=True)
data['visitors'] = data['visitors'].astype(float)

data.head()

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  if __name__ == '__main__':

,air_store_id,is_test,test_number,visit_date,visitors,was_nil,day_of_week,is_holiday,prev_day_is_holiday,next_day_is_holiday,...,air_area_name,latitude,longitude,latitude_str,longitude_str,station_id,station_latitude,station_longitude,station_vincenty,station_great_circle
0,air_00a91d42b08b08d9,True,0.0,2017-04-23,NaN,NaN,Sunday,0,0.0,0.0,...,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,"""35.6940027""","""139.7535951""",tokyo__tokyo-kana__tonokyo,35.691667,139.75,0.416011,0.415906
1,air_00a91d42b08b08d9,True,1.0,2017-04-24,NaN,NaN,Monday,0,0.0,0.0,...,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,"""35.6940027""","""139.7535951""",tokyo__tokyo-kana__tonokyo,35.691667,139.75,0.416011,0.415906
2,air_00a91d42b08b08d9,True,2.0,2017-04-25,NaN,NaN,Tuesday,0,0.0,0.0,...,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,"""35.6940027""","""139.7535951""",tokyo__tokyo-kana__tonokyo,35.691667,139.75,0.416011,0.415906
3,air_00a91d42b08b08d9,True,3.0,2017-04-26,NaN,NaN,Wednesday,0,0.0,0.0,...,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,"""35.6940027""","""139.7535951""",tokyo__tokyo-kana__tonokyo,35.691667,139.75,0.416011,0.415906
4,air_00a91d42b08b08d9,True,4.0,2017-04-27,NaN,NaN,Thursday,0,0.0,0.0,...,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,"""35.6940027""","""139.7535951""",tokyo__tokyo-kana__tonokyo,35.691667,139.75,0.416011,0.415906

In [8]:
import glob

weather_dfs = []

for path in glob.glob('input/rrv-weather-data/1-1-16_5-31-17_Weather/*.csv'):
    weather_df = pd.read_csv(path)
    weather_df['station_id'] = path.split('\\')[-1].rstrip('.csv')
    weather_dfs.append(weather_df)

weather = pd.concat(weather_dfs, axis='rows')
weather.rename(columns={'calendar_date': 'visit_date'}, inplace=True)

means = weather.groupby('visit_date')[['avg_temperature', 'precipitation']].mean().reset_index()
means.rename(columns={'avg_temperature': 'global_avg_temperature', 'precipitation': 'global_precipitation'}, inplace=True)
weather = pd.merge(left=weather, right=means, on='visit_date', how='left')
weather['avg_temperature'].fillna(weather['global_avg_temperature'], inplace=True)
weather['precipitation'].fillna(weather['global_precipitation'], inplace=True)

weather[['visit_date', 'avg_temperature', 'precipitation']].head()

   visit_date  avg_temperature  precipitation
0  2016-01-01              8.6            0.0
1  2016-01-02             10.3            0.0
2  2016-01-03             12.1            0.0
3  2016-01-04             13.1            0.0
4  2016-01-05             10.7            0.0

In [9]:
data['visit_date'] = pd.to_datetime(data['visit_date'])
data.sort_values(['visit_date', 'air_store_id'], inplace=True)
data.index = data['visit_date']

In [10]:
data.to_csv('input/data.csv', index=False, header=True)

## Preprocessing

In [11]:
data2 = pd.read_csv('input/data.csv')

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [17]:
data

,visit_date,air_store_id,is_test,test_number,visit_date.1,visitors,was_nil,day_of_week,is_holiday,prev_day_is_holiday,...,air_area_name,latitude,longitude,latitude_str,longitude_str,station_id,station_latitude,station_longitude,station_vincenty,station_great_circle
0,2016-01-04,air_9438d67241c81314,False,NaN,2016-01-04,34.0,False,Monday,0,1.0,...,Fukuoka-ken Fukuoka-shi Daimyō,33.589216,130.392813,"""33.5892157""","""130.3928134""",fukuoka__fukuoka-kana__fukuoka,33.581667,130.375000,1.853535,1.851854
1,2016-01-04,air_ee3a01f0c71a769f,False,NaN,2016-01-04,61.0,False,Monday,0,1.0,...,Shizuoka-ken Hamamatsu-shi Motoshirochō,34.710895,137.725940,"""34.7108955""","""137.7259397""",shizuoka__hamamatsu-kana__hamamatsu,34.753333,137.711667,4.885979,4.897191
2,2016-01-04,air_fd6aac1043520e83,False,NaN,2016-01-04,28.0,False,Monday,0,1.0,...,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,"""35.6580681""","""139.7515992""",tokyo__tokyo-kana__tonokyo,35.691667,139.750000,3.730672,3.739835
3,2016-01-05,air_25e9888d30b386df,False,NaN,2016-01-05,12.0,False,Tuesday,0,0.0,...,Tōkyō-to Shinagawa-ku Higashigotanda,35.626568,139.725858,"""35.6265683""","""139.7258581""",tokyo__tokyo-kana__tonokyo,35.691667,139.750000,7.546405,7.562205
4,2016-01-05,air_64d4491ad8cdb1c6,False,NaN,2016-01-05,9.0,False,Tuesday,0,0.0,...,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,"""35.6580681""","""139.7515992""",tokyo__tokyo-kana__tonokyo,35.691667,139.750000,3.730672,3.739835
5,2016-01-05,air_9438d67241c81314,False,NaN,2016-01-05,25.0,False,Tuesday,0,0.0,...,Fukuoka-ken Fukuoka-shi Daimyō,33.589216,130.392813,"""33.5892157""","""130.3928134""",fukuoka__fukuoka-kana__fukuoka,33.581667,130.375000,1.853535,1.851854
6,2016-01-05,air_ee3a01f0c71a769f,False,NaN,2016-01-05,25.0,False,Tuesday,0,0.0,...,Shizuoka-ken Hamamatsu-shi Motoshirochō,34.710895,137.725940,"""34.7108955""","""137.7259397""",shizuoka__hamamatsu-kana__hamamatsu,34.753333,137.711667,4.885979,4.897191
7,2016-01-05,air_fd6aac1043520e83,False,NaN,2016-01-05,36.0,False,Tuesday,0,0.0,...,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,"""35.6580681""","""139.7515992""",tokyo__tokyo-kana__tonokyo,35.691667,139.750000,3.730672,3.739835
8,2016-01-06,air_25e9888d30b386df,False,NaN,2016-01-06,28.0,False,Wednesday,0,0.0,...,Tōkyō-to Shinagawa-ku Higashigotanda,35.626568,139.725858,"""35.6265683""","""139.7258581""",tokyo__tokyo-kana__tonokyo,35.691667,139.750000,7.546405,7.562205
9,2016-01-06,air_64d4491ad8cdb1c6,False,NaN,2016-01-06,15.0,False,Wednesday,0,0.0,...,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,"""35.6580681""","""139.7515992""",tokyo__tokyo-kana__tonokyo,35.691667,139.750000,3.730672,3.739835
10,2016-01-06,air_9438d67241c81314,False,NaN,2016-01-06,41.0,False,Wednesday,0,0.0,...,Fukuoka-ken Fukuoka-shi Daimyō,33.589216,130.392813,"""33.5892157""","""130.3928134""",fukuoka__fukuoka-kana__fukuoka,33.581667,130.375000,1.853535,1.851854
11,2016-01-06,air_ee3a01f0c71a769f,False,NaN,2016-01-06,18.0,False,Wednesday,0,0.0,...,Shizuoka-ken Hamamatsu-shi Motoshirochō,34.710895,137.725940,"""34.7108955""","""137.7259397""",shizuoka__hamamatsu-kana__hamamatsu,34.753333,137.711667,4.885979,4.897191
12,2016-01-06,air_fd6aac1043520e83,False,NaN,2016-01-06,12.0,False,Wednesday,0,0.0,...,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,"""35.6580681""","""139.7515992""",tokyo__tokyo-kana__tonokyo,35.691667,139.750000,3.730672,3.739835
13,2016-01-07,air_25e9888d30b386df,False,NaN,2016-01-07,6.0,False,Thursday,0,0.0,...,Tōkyō-to Shinagawa-ku Higashigotanda,35.626568,139.725858,"""35.6265683""","""139.7258581""",tokyo__tokyo-kana__tonokyo,35.691667,139.750000,7.546405,7.562205
14,2016-01-07,air_64d4491ad8cdb1c6,False,NaN,2016-01-07,9.0,False,Thursday,0,0.0,...,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,"""35.6580681""","""139.7515992""",tokyo__tokyo-kana__tonokyo,35.691667,139.750000,3.730672,3.739835
15,2016-01-07,air_9438d67241c81314,False,NaN,2016-01-07,30.0,False,Thursday,0,0.0,...,Fukuoka-ken Fukuoka-shi Daimyō,33.589216,130.392813,"""33.5892157""","""130.3928134""",fukuoka__fukuoka-kana__fukuoka,33.581667,130.375000,1.853535,1.851854
16,2016-01-07,air_ee3a01f0c71a769f,False,NaN,2016-01-07,0.0,False,Thursday,0,0.0,...,Shizuoka-ken Hamamatsu-shi Motoshirochō,34.710895,137.725940,"""34.7108955""","""137.7259397""",shizuoka__hamamatsu-kana__hamamatsu,34.753333,137.711667,4.885979,4.897191
17,2016-01-07,air_fd6aac1043520e83,False,NaN,2016-01-07,20.0,False,Thursday,0,0.0,...,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,"""35.6580681""","""139.7515992""",tokyo__tokyo-kana__tonokyo,35.691667,139.750000,3.730672,3.739835
18,2016-01-08,air_25e9888d30b386df,False,NaN,2016-01-08,8.0,False,Friday,0,0.0,...,Tōkyō-to Shinagawa-ku Higashigotanda,35.626568,139.725858,"""35.6265683""","""139.7258581""",tokyo__tokyo-kana__tonokyo,35.691667,139.750000,7.546405,7.562205
19,2016-01-08,air_64d4491ad8cdb1c6,False,NaN,2016-01-08,28.0,False,Friday,0,0.0,...,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,"""35.6580681""","""139.7515992""",tokyo__tokyo-kana__tonokyo,35.691667,139.750000,3.730672,3.739835
20,2016-01-08,air_9438d67241c81314,False,NaN,2016-01-08,47.0,False,Friday,0,0.0,...,Fukuoka-ken Fukuoka-shi Daimyō,33.589216,130.392813,"""33.5892157""","""130.3928134""",fukuoka__fukuoka-kana__fukuoka,33.581667,130.375000,1.853535,1.851854
21,2016-01-08,air_ee3a01f0c71a769f,False,NaN,2016-01-08,21.0,False,Friday,0,0.0,...,Shizuoka-ken Hamamatsu-shi Motoshirochō,34.710895,137.725940,"""34.7108955""","""137.7259397""",shizuoka__hamamatsu-kana__hamamatsu,34.753333,137.711667,4.885979,4.897191
22,2016-01-08,air_fd6aac1043520e83,False,NaN,2016-01-08,42.0,False,Friday,0,0.0,...,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,"""35.6580681""","""139.7515992""",tokyo__tokyo-kana__tonokyo,35.691667,139.750000,3.730672,3.739835
23,2016-01-09,air_25e9888d30b386df,False,NaN,2016-01-09,13.0,False,Saturday,0,0.0,...,Tōkyō-to Shinagawa-ku Higashigotanda,35.626568,139.725858,"""35.6265683""","""139.7258581""",tokyo__tokyo-kana__tonokyo,35.691667,139.750000,7.546405,7.562205
24,2016-01-09,air_64d4491ad8cdb1c6,False,NaN,2016-01-09,7.0,False,Saturday,0,0.0,...,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,"""35.6580681""","""139.7515992""",tokyo__tokyo-kana__tonokyo,35.691667,139.750000,3.730672,3.739835
25,2016-01-09,air_9438d67241c81314,False,NaN,2016-01-09,24.0,False,Saturday,0,0.0,...,Fukuoka-ken Fukuoka-shi Daimyō,33.589216,130.392813,"""33.5892157""","""130.3928134""",fukuoka__fukuoka-kana__fukuoka,33.581667,130.375000,1.853535,1.851854
26,2016-01-09,air_ee3a01f0c71a769f,False,NaN,2016-01-09,57.0,False,Saturday,0,0.0,...,Shizuoka-ken Hamamatsu-shi Motoshirochō,34.710895,137.725940,"""34.7108955""","""137.7259397""",shizuoka__hamamatsu-kana__hamamatsu,34.753333,137.711667,4.885979,4.897191
27,2016-01-09,air_fd6aac1043520e83,False,NaN,2016-01-09,16.0,False,Saturday,0,0.0,...,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,"""35.6580681""","""139.7515992""",tokyo__tokyo-kana__tonokyo,35.691667,139.750000,3.730672,3.739835
28,2016-01-10,air_25e9888d30b386df,False,NaN,2016-01-10,14.0,False,Sunday,0,0.0,...,Tōkyō-to Shinagawa-ku Higashigotanda,35.626568,139.725858,"""35.6265683""","""139.7258581""",tokyo__tokyo-kana__tonokyo,35.691667,139.750000,7.546405,7.562205
29,2016-01-10,air_64d4491ad8cdb1c6,False,NaN,2016-01-10,0.0,False,Sunday,0,0.0,...,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,"""35.6580681""","""139.7515992""",tokyo__tokyo-kana__tonokyo,35.691667,139.750000,3.730672,3.739835
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37869,2017-05-31,air_f6b2489ccf873c3b,True,30887.0,2017-05-31,NaN,NaN,Wednesday,0,0.0,...,Tōkyō-to Chūō-ku Tsukiji,35.670651,139.771861,"""35.6706505""","""139.7718614""",tokyo__tokyo-kana__tonokyo,35.691667,139.750000,3.058399,3.060253
37870,2017-05-31,air_f6bfd27e2e174d16,True,30926.0,2017-05-31,NaN,NaN,Wednesday,0,0.0,...,Tōkyō-to Shibuya-ku Shibuya,35.661777,139.704051,"""35.6617773""","""139.7040506""",tokyo__tokyo-kana__tonokyo,35.691667,139.750000,5.319959,5.318636
37871,2017-05-31,air_f6cdaf7b7fdc6d78,True,30965.0,2017-05-31,NaN,NaN,Wednesday,0,0.0,...,Fukuoka-ken Fukuoka-shi Daimyō,33.589216,130.392813,"""33.5892157""","""130.3928134""",fukuoka__fukuoka-kana__fukuoka,33.581667,130.375000,1.853535,1.851854
37872,2017-05-31,air_f8233ad00755c35c,True,31004.0,2017-05-31,NaN,NaN,Wednesday,0,0.0,...,Tōkyō-to Shibuya-ku Shibuya,35.661777,139.704051,"""35.6617773""","""139.7040506""",tokyo__tokyo-kana__tonokyo,35.691667,139.750000,5.319959,5.318636
37873,2017-05-31,air_f85e21e543cf44f2,True,31043.0,2017-05-31,NaN,NaN,Wednesday,0,0.0,...,Fukuoka-ken Itoshima-shi Maebarunishi,33.557320,130.195555,"""33.5573203""","""130.195555""",fukuoka__maehara-kana__maebaru,33.560000,130.190000,0.595336,0.594923
37874,2017-05-31,air_f88898cd09f40496,True,31082.0,2017-05-31,NaN,NaN,Wednesday,0,0.0,...,Tōkyō-to Nakano-ku Nakano,35.707398,139.663835,"""35.7073985""","""139.6638354""",tokyo__nerima-kana__nerima,35.738333,139.591667,7.376842,7.369340
37875,2017-05-31,air_f911308e19d64236,True,31121.0,2017-05-31,NaN,NaN,Wednesday,0,0.0,...,Tōkyō-to Shibuya-ku Shibuya,35.661777,139.704051,"""35.6617773""","""139.7040506""",tokyo__tokyo-kana__tonokyo,35.691667,139.750000,5.319959,5.318636
37876,2017-05-31,air_f9168b23fdfc1e52,True,31160.0,2017-05-31,NaN,NaN,Wednesday,0,0.0,...,Tōkyō-to Suginami-ku Asagayaminami,35.699566,139.636438,"""35.6995657""","""139.6364379""",tokyo__nerima-kana__nerima,35.738333,139.591667,5.908713,5.910923
37877,2017-05-31,air_f927b2da69a82341,True,31199.0,2017-05-31,NaN,NaN,Wednesday,0,0.0,...,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,"""34.6951242""","""135.1978525""",hyogo__kobe-kana__koube,34.696667,135.211667,1.277232,1.274882
37878,2017-05-31,air_f957c6d6467d4d90,True,31238.0,2017-05-31,NaN,NaN,Wednesday,0,0.0,...,Tōkyō-to Setagaya-ku Setagaya,35.646572,139.653247,"""35.6465721""","""139.6532473""",tokyo__setagaya-kana__setagaya,35.626667,139.620000,3.734459,3.732900
37879,2017-05-31,air_f96765e800907c77,True,31277.0,2017-05-31,NaN,NaN,Wednesday,0,0.0,...,Hiroshima-ken Hiroshima-shi Kokutaijimachi,34.386245,132.455018,"""34.3862445""","""132.4550176""",hiroshima__hiroshima-kana__hiroshima,34.398333,132.461667,1.473823,1.476606
37880,2017-05-31,air_fa12b40b02fecfd8,True,31316.0,2017-05-31,NaN,NaN,Wednesday,0,0.0,...,Tōkyō-to Meguro-ku Takaban,35.629564,139.684992,"""35.629564""","""139.6849922""",tokyo__setagaya-kana__setagaya,35.626667,139.620000,5.896095,5.884539
37881,2017-05-31,air_fa4ffc9057812fa2,True,31355.0,2017-05-31,NaN,NaN,Wednesday,0,0.0,...,Tōkyō-to Shinjuku-ku Kabukichō,35.693840,139.703549,"""35.6938401""","""139.7035494""",tokyo__tokyo-kana__tonokyo,35.691667,139.750000,4.211253,4.202990
37882,2017-05-31,air_fab092c35776a9b1,True,31394.0,2017-05-31,NaN,NaN,Wednesday,0,0.0,...,Fukuoka-ken Fukuoka-shi Momochi,33.581941,130.348436,"""33.5819411""","""130.3484363""",fukuoka__fukuoka-kana__fukuoka,33.581667,130.375000,2.466230,2.461642
37883,2017-05-31,air_fb44f566d4f64a4e,True,31433.0,2017-05-31,NaN,NaN,Wednesday,0,0.0,...,Tōkyō-to Kōtō-ku Tōyō,35.672853,139.817410,"""35.6728535""","""139.8174097""",tokyo__edogawa-seaside-kana__edgawawinkai,35.638333,139.863333,5.653620,5.653993
37884,2017-05-31,air_fbadf737162a5ce3,True,31472.0,2017-05-31,NaN,NaN,Wednesday,0,0.0,...,Tōkyō-to Meguro-ku Kamimeguro,35.641463,139.698171,"""35.6414629""","""139.6981712""",tokyo__setagaya-kana__setagaya,35.626667,139.620000,7.268445,7.255752
37885,2017-05-31,air_fc477473134e9ae5,True,31511.0,2017-05-31,NaN,NaN,Wednesday,0,0.0,...,Hokkaidō Sapporo-shi Minami 3 Jōnishi,43.055460,141.340956,"""43.0554601""","""141.3409556""",hokkaido_ishikari__sapporo-katakana__satporo,43.060000,141.328333,1.145298,1.143351
37886,2017-05-31,air_fcd4492c83f1c6b9,True,31550.0,2017-05-31,NaN,NaN,Wednesday,0,0.0,...,Tōkyō-to Shibuya-ku Shibuya,35.661777,139.704051,"""35.6617773""","""139.7040506""",tokyo__tokyo-kana__tonokyo,35.691667,139.750000,5.319959,5.318636
37887,2017-05-31,air_fcfbdcf7b1f82c6e,True,31589.0,2017-05-31,NaN,NaN,Wednesday,0,0.0,...,Tōkyō-to Shibuya-ku Shibuya,35.661777,139.704051,"""35.6617773""","""139.7040506""",tokyo__tokyo-kana__tonokyo,35.691667,139.750000,5.319959,5.318636
37888,2017-05-31,air_fd154088b1de6fa7,True,31628.0,2017-05-31,NaN,NaN,Wednesday,0,0.0,...,Tōkyō-to Shinjuku-ku Kabukichō,35.693840,139.703549,"""35.6938401""","""139.7035494""",tokyo__tokyo-kana__tonokyo,35.691667,139.750000,4.211253,4.202990
37889,2017-05-31,air_fd6aac1043520e83,True,31667.0,2017-05-31,NaN,NaN,Wednesday,0,0.0,...,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,"""35.6580681""","""139.7515992""",tokyo__tokyo-kana__tonokyo,35.691667,139.750000,3.730672,3.739835
37890,2017-05-31,air_fdc02ec4a3d21ea4,True,31706.0,2017-05-31,NaN,NaN,Wednesday,0,0.0,...,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,"""34.6951242""","""135.1978525""",hyogo__kobe-kana__koube,34.696667,135.211667,1.277232,1.274882
37891,2017-05-31,air_fdcfef8bd859f650,True,31745.0,2017-05-31,NaN,NaN,Wednesday,0,0.0,...,Fukuoka-ken Fukuoka-shi Daimyō,33.589216,130.392813,"""33.5892157""","""130.3928134""",fukuoka__fukuoka-kana__fukuoka,33.581667,130.375000,1.853535,1.851854
37892,2017-05-31,air_fe22ef5a9cbef123,True,31784.0,2017-05-31,NaN,NaN,Wednesday,0,0.0,...,Fukuoka-ken Fukuoka-shi Daimyō,33.589216,130.392813,"""33.5892157""","""130.3928134""",fukuoka__fukuoka-kana__fukuoka,33.581667,130.375000,1.853535,1.851854
37893,2017-05-31,air_fe58c074ec1445ea,True,31823.0,2017-05-31,NaN,NaN,Wednesday,0,0.0,...,Tōkyō-to Taitō-ku Higashiueno,35.712607,139.779996,"""35.712607""","""139.7799956""",tokyo__tokyo-kana__tonokyo,35.691667,139.750000,3.573166,3.572811
37894,2017-05-31,air_fea5dc9594450608,True,31862.0,2017-05-31,NaN,NaN,Wednesday,0,0.0,...,Shizuoka-ken Hamamatsu-shi Motoshirochō,34.710895,137.725940,"""34.7108955""","""137.7259397""",shizuoka__hamamatsu-kana__hamamatsu,34.753333,137.711667,4.885979,4.897191
37895,2017-05-31,air_fee8dcf4d619598e,True,31901.0,2017-05-31,NaN,NaN,Wednesday,0,0.0,...,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,"""34.6951242""","""135.1978525""",hyogo__kobe-kana__koube,34.696667,135.211667,1.277232,1.274882
37896,2017-05-31,air_fef9ccb3ba0da2f7,True,31940.0,2017-05-31,NaN,NaN,Wednesday,0,0.0,...,Hyōgo-ken Himeji-shi Yasuda,34.815149,134.685353,"""34.815149""","""134.6853528""",hyogo__himeji-kana__gimpe,34.838333,134.670000,2.930493,2.935078
37897,2017-05-31,air_ffcc2d5087e1b476,True,31979.0,2017-05-31,NaN,NaN,Wednesday,0,0.0,...,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,"""35.6580681""","""139.7515992""",tokyo__tokyo-kana__tonokyo,35.691667,139.750000,3.730672,3.739835
37898,2017-05-31,air_fff68b929994bfbd,True,32018.0,2017-05-31,NaN,NaN,Wednesday,0,0.0,...,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,"""35.7081457""","""139.666288""",tokyo__nerima-kana__nerima,35.738333,139.591667,7.536732,7.528433